@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.App {
  width: 100vw;
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', cursive;
  overflow-x: hidden;
}

/******************** Client UI ********************/
.cover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.4)), url(https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
  background-size: cover;
  height: 40rem;
}
h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}
.headers {
  padding-top: 5rem;
  text-align: center;
  color : white;
}
.cards {
  margin: 2rem;
}
.section-title {
  text-align: center;
  margin-top: 3rem;
}
/******************** Dashboard UI ******************/
.sidebar {
  height: 100%;
  width: 250px;
  background-color: #2F4050;
}